.nav-item {
  text-transform: capitalize;
}

.nav-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.horizontal {
  flex-direction: row;
}

.vertical {
  flex-direction: column;
}
