body {
  max-width: 1200px;
  margin: 15px auto;
  --background: white;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

button {
  border: none;
  background-color: var(--background);
}

.normal-hover {
  cursor: default;
}

.prevent-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
